@font-face {
    font-family: 'Onest';
    src: url(../font/Onest-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: 'Onest';
    src: url(../font/Onest-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: 'Onest';
    src: url(../font/Onest-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
}
@font-face {
    font-family: 'Onest';
    src: url(../font/Onest-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}
@font-face {
    font-family: 'Onest';
    src: url(../font/Onest-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 800;
    font-display: fallback;
}